<app-titulo [titulo]="'Perfil'"></app-titulo>

<div class="card shadow-sm">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@UserName</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> Alexandre Renato</div>
            <div class="h7">
              Doutor a mais de 7 anos, em diversas areas, com 4 mestrados e 2 douturados
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">142</div>
                  <div class="h6 text-muted">Consultas Ministradas</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">142</div>
                  <div class="h6 text-muted">Consultas Participados</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="form-group col">
            <label>Título:</label>
            <select class="form-control"
            [ngClass]="{'is-invalid': f.titulo.errors && f.titulo.touched}"
            formControlName="titulo">
            <option value=""></option>
            <option value="0">Não Quero</option>
            <option value="Senhorita">Doutor</option>
            <option value="Senhorita">Doutora</option>
            <option value="Senhorita">Aprendiz</option>
          </select>
          <div *ngIf="f.titulo.errors?.required" class="invalid-feedback">
            Titulo é obrigatório.
          </div>
        </div>
        <div class="form-group col-sm-10">
          <label>Nome Completo:</label>
          <input type="text" class="form-control" placeholder="Insira o Nome Completo"
          [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}"
          formControlName="nome">
          <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
            Nome é obrigatório.
          </div>
          <div *ngIf="f.nome.errors?.minlength"  class="invalid-feedback">
            Nome deve ter no minimo 4 caracteres.
          </div>
          <div *ngIf="f.nome.errors?.maxlength"  class="invalid-feedback">
            Nome deve ter no máximo 100 caracteres.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-5">
          <label>E-mail:</label>
          <input type="text" class="form-control" placeholder="Insira o E-mail"
          [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
          formControlName="email" >
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            E-mail é obrigatório.
          </div>
          <div *ngIf="f.email.errors?.email"  class="invalid-feedback">
            E-mail inválido.
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label>Nº Telemóvel:</label>
          <input type="text" class="form-control" placeholder="Insira o Nº Telemóvel"
          [ngClass]="{'is-invalid': f.telemovel.errors && f.telemovel.touched}"
          formControlName="telemovel" >
          <div *ngIf="f.telemovel.errors?.required" class="invalid-feedback">
            Telemóvel é obrigatório.
          </div>
          <div *ngIf="f.telemovel.errors?.minlength"  class="invalid-feedback">
            Telemóvel deve ter no minimo 6 caracteres.
          </div>
          <div *ngIf="f.telemovel.errors?.maxlength"  class="invalid-feedback">
            Telemóvel deve ter no máximo 15 caracteres.
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Gênero:</label>
          <select class="form-control">
            <option value=""></option>
            <option value="Participante">Masculino</option>
            <option value="Palestrante">Feminino</option>
          </select>
        </div>
        <form-group class="col-12">
          <label>Descrição:</label>
          <input type="text" class="form-control" placeholder="Insira aqui uma breve descrição"
          [ngClass]="{'is-invalid': f.descricao.errors && f.descricao.touched}"
          formControlName="descricao" >
          <div *ngIf="f.descricao.errors?.maxlength"  class="invalid-feedback">
            A Descrição deve ter no máximo 200 caracteres.
          </div>
        </form-group>
      </div>
      <div>
        <h3 class="pt-3 border-bottom">Mudar Password</h3>
        <p>Caso altere de Password, preencha os campos abaixo:</p>
      </div>
      <div class="form-row">
        <div class="form-group col-sm">
          <label>Password:</label>
          <input type="password" class="form-control"
          [ngClass]="{'is-invalid': f.password.errors && f.password.touched}"
          formControlName="password">
          <div *ngIf="f.password.errors?.required" class="invalid-feedback">
            Uma Password é obrigatória.
          </div>
          <div *ngIf="f.password.errors?.minlength"  class="invalid-feedback">
            Password deve ter no minimo 6 caracteres.
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Confirmar Password:</label>
          <input type="password" class="form-control"
          [ngClass]="{'is-invalid': f.confirmarPassword.errors && f.confirmarPassword.touched}"
          formControlName="confirmarPassword">
          <div *ngIf="f.confirmarPassword.errors?.required" class="invalid-feedback">
            Confirmar a Password é obrigatório.
          </div>
          <div *ngIf="f.confirmarPassword.errors?.mustMatch" class="invalid-feedback">
            As Password's não correspondem
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button class="btn btn-outline-info mr-auto border" (click)="resetForm()">
        Cancelar Alteração
      </button>
      <button class="btn btn-success" [disabled]="!form.valid">
        <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
        Guardar Alteração
      </button>
    </div>
  </div>
</form>
</div>
