<div class="card shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro:</div>
        </div>
        <input type="text"
        class="form-control"
        placeholder="Pesquisar Médico por Nome ou Especialidade"
        [(ngModel)]="filtroLista">
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/agenda/criar">
        <i class="fa fa-plus-circle mt-1 mb-1"></i>
        <b class="ml-1 d-none d-sm-block">Nova Consulta</b>
      </a>
    </div>
  </div>

  <!-- CONSULTAS AGENDADAS -->
  <table class="table table-striped table-hover">
    <thead class="agendado">
      <tr>
        <th>ID</th>
        <th class="d-none d-md-table-cell">Médico</th>
        <th>Paciente</th>
        <th>Data da Consulta</th>
        <th>Estado</th>
        <th *ngIf="mobile">Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="videoChat && videoChat.length">
      <tr *ngFor="let videoChat of videoChatFiltrada" (click)="editarVideoChat(videoChat.id)" style="cursor: pointer;">
        <td *ngIf="videoChat.estadoVideoChat == '0'" class="d-none d-md-table-cell">
          {{videoChat.id}}
        </td>
        <td *ngIf="videoChat.estadoVideoChat == '0'" class="d-none d-md-table-cell">{{videoChat.medico.nome}}</td>
        <td *ngIf="videoChat.estadoVideoChat == '0'">{{videoChat.paciente.nome}}</td>
        <td *ngIf="videoChat.estadoVideoChat == '0'">{{videoChat.dataInicio | DatePlusHourFormatPipe}}</td>
        <td *ngIf="videoChat.estadoVideoChat == '0'">
          <span class="badge badge-pill badge-warning">Agendada</span>
        </td>
        <td *ngIf="videoChat.estadoVideoChat == '0' && mobile">
          <button type="button" class="btn btn-danger btn-md" tooltip="Excluir" (click)="openModal($event, template, videoChat.id)">
            <i class="fa fa-trash"></i>
          </button>
          <button type="button" class="btn btn-primary btn-md ml-2" tooltip="Iniciar Consulta" (click)="openModal($event, templateIniciarConsulta, videoChat.id)">
            <i class="fas fa-video"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!videoChat.length">
      <tr>
        <td colspan="7" class="text-center">
          <h4>Nenhuma Consulta Encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>

  <!-- CONSULTAS CONCLUIDAS -->
  <table class="table table-striped table-hover">
    <thead class="concluido">
      <tr>
        <th>ID</th>
        <th class="d-none d-md-table-cell">Médico</th>
        <th>Paciente</th>
        <th>Data da Consulta</th>
        <th>Ações</th>
        <th *ngIf="mobile">Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="videoChat && videoChat.length">
      <tr *ngFor="let videoChat of videoChatFiltrada" (click)="editarVideoChat(videoChat.id)">
        <td *ngIf="videoChat.estadoVideoChat == '1'" class="d-none d-md-table-cell">
          {{videoChat.id}}
        </td>
        <td *ngIf="videoChat.estadoVideoChat == '1'" class="d-none d-md-table-cell">
          {{videoChat.medico.nome}}
        </td>
        <td *ngIf="videoChat.estadoVideoChat == '1'">
          {{videoChat.paciente.nome}}
        </td>
        <td *ngIf="videoChat.estadoVideoChat == '1'">
          {{videoChat.dataInicio | DatePlusHourFormatPipe}} - {{videoChat.dataFim | DatePlusHourFormatPipe}}
        </td>
        <td *ngIf="videoChat.estadoVideoChat == '1'">
          <span class="badge badge-pill badge-success">Concluida</span>
        </td>
        <td *ngIf="videoChat.estadoVideoChat == '1' && mobile">
          <button type="button" class="btn btn-danger btn-md" tooltip="Excluir" (click)="openModal($event, template, videoChat.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!videoChat.length">
      <tr>
        <td colspan="7" class="text-center">
          <h4>Nenhuma Consulta Encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja apagar a Consulta de código {{this.videoChatId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

<ng-template #templateIniciarConsulta>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja iniciar a Consulta de código {{this.videoChatId}}?</p>
    <button type="button" class="btn btn-default"  target="_blank" (click)="confirmIniciarConsulta(this.videoChatId)" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
