<div class="card shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
    <!-- <p>Form value: {{form.value | json}}</p>
    <p>Form valid: {{form.status | json}}</p> -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Médico:</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.medico)"
          formControlName="medico" placeholder="Insira o Nome do medico">
          <div *ngIf="f.medico.errors?.required  && f.medico.touched" class="invalid-feedback">
            Um Medico é obrigatório.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Paciente:</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.paciente)"
          formControlName="paciente" placeholder="Insira o Nome do Paciente">
          <div *ngIf="f.paciente.errors?.required  && f.paciente.touched" class="invalid-feedback">
            Um Paciente é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Data da Consulta:</label>
          <input type="datetime" class="form-control"
          [ngClass]="cssValidator(f.dataInicio)"
          formControlName="dataInicio" placeholder="21/05/2003 18:05"
          bsDatepicker [bsConfig]="bsConfig"> <!--Configurações do datepicker-->
          <div *ngIf="f.dataInicio.errors?.required && f.dataInicio.touched" class="invalid-feedback">
            Data da Consulta é obrigatória.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-info mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Guardar Paciente
        </button>
      </div>
    </div>
  </form>
</div>
