
<div class="card shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Médico:</label>
          <select class="form-control" [ngClass]="cssValidator(f.medicoID)" formControlName="medicoID">
            <option *ngFor="let medico of medicos" value="{{medico.id}}">{{medico.nome}}, {{medico.email}}</option>
          </select>
          <div *ngIf="f.medicoID.errors?.required && f.medicoID.touched" class="invalid-feedback">
            Um Medico é obrigatório.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Paciente:</label>
          <select class="form-control" [ngClass]="cssValidator(f.pacienteID)" formControlName="pacienteID">
            <option *ngFor="let paciente of pacientes" value="{{paciente.id}}">{{paciente.nome}}, {{paciente.email}}</option>
          </select>
          <div *ngIf="f.pacienteID.errors?.required && f.pacienteID.touched" class="invalid-feedback">
            Um Paciente é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group" class="col-md-8" *ngIf="consultaConcluida()">
          <label>Relatório:</label>
          <textarea class="form-control" rows="3" [ngClass]="cssValidator(f.relatorio)" formControlName="relatorio"> </textarea>
          <div *ngIf="f.relatorio.errors?.required && f.relatorio.touched" class="invalid-feedback">
            O Relatorio é obrigatório.
          </div>
          <div *ngIf="f.relatorio.errors?.maxlength && f.relatorio.touched"  class="invalid-feedback">
            Endereço deve ter no máximo 3000 caracteres.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data da Consulta:</label>
          <input type="datetime" class="form-control"
          [ngClass]="cssValidator(f.dataInicio)"
          value = "{{videoChat.dataInicio | DatePlusHourFormatPipe}}"
          formControlName="dataInicio" placeholder="21/05/2003 18:05"
          bsDatepicker [bsConfig]="bsConfig"> <!--Configurações do datepicker-->
          <div *ngIf="f.dataInicio.errors?.required && f.dataInicio.touched" class="invalid-feedback">
            Data da Consulta é obrigatória.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-info mr-auto border" [disabled]="consultaConcluida()" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid || consultaConcluida()" (click)="guardarVideoChat()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Agendar Consulta
        </button>
      </div>
    </div>
  </form>
</div>


