.textColor{
  color: #02acac;
}

.btnColorsAgenda{
background-color: #ffad20;
border-color: #d29122;
color: white;
}

.btnColorsPaciente{
  background-color: #43b96b;
  border-color: #369255;
  color: white;
  }
