<form>
  <div class="p-3">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Nome Completo</label>
        <input type="text" class="form-control" placeholder="Insira o Nome">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Morada</label>
        <input type="text" class="form-control" placeholder="Rua das Ruas, Nº1">
      </div>
      <div class="form-group col-md-2">
        <label>Código Postal</label>
        <input type="text" class="form-control" placeholder="0000-000">
      </div>
      <div class="form-group col-md-4">
        <label>Data de Nascimento</label>
        <input type="datetime" class="form-control" placeholder="01/01/1991">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label>Gênero</label>
        <select class="form-control">
          <option value=""></option>
          <option value="Participante">Masculino</option>
          <option value="Palestrante">Feminino</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Telemovel</label>
        <input type="text" class="form-control" placeholder="912345678">
      </div>
      <div class="form-group col-md-6">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="Email">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button class="btn btn-outline-info mr-auto border">
        Cancelar Alteração
      </button>
      <button class="btn btn-success">
        <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
        Guardar Paciente
      </button>
    </div>
  </div>
</form>
