<div class="card shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
    <!-- <p>Form value: {{form.value | json}}</p>
    <p>Form valid: {{form.status | json}}</p> -->
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Nome Completo:</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}"
          formControlName="nome" placeholder="Insira o Nome">
          <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
            Nome é obrigatório.
          </div>
          <div *ngIf="f.nome.errors?.minlength"  class="invalid-feedback">
            Nome deve ter no minimo 4 caracteres.
          </div>
          <div *ngIf="f.nome.errors?.maxlength"  class="invalid-feedback">
            Nome deve ter no máximo 100 caracteres.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Foto</label>
          <input type="text" class="form-control" formControlName="foto" placeholder="Fotografia">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Endereço:</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': f.endereco.errors && f.endereco.touched}"
          formControlName="endereco" placeholder="Rua das Ruas, Nº1">
          <div *ngIf="f.endereco.errors?.required" class="invalid-feedback">
            Endereço é obrigatório.
          </div>
          <div *ngIf="f.endereco.errors?.minlength"  class="invalid-feedback">
            Endereço deve ter no minimo 4 caracteres.
          </div>
          <div *ngIf="f.endereco.errors?.maxlength"  class="invalid-feedback">
            Endereço deve ter no máximo 100 caracteres.
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Código Postal:</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': f.codPostal.errors && f.codPostal.touched}"
          formControlName="codPostal" placeholder="0000-000">
          <div *ngIf="f.codPostal.errors?.required" class="invalid-feedback">
            Código Postal é obrigatório.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data de Nascimento:</label>
          <input type="datetime" class="form-control"
          [ngClass]="{'is-invalid': f.dataNascimento.errors && f.dataNascimento.touched}"
          formControlName="dataNascimento" placeholder="01/01/1991">
          <div *ngIf="f.dataNascimento.errors?.required" class="invalid-feedback">
            Data de Nascimento é obrigatória.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Gênero:</label>
          <select class="form-control">
            <option value=""></option>
            <option value="Participante">Masculino</option>
            <option value="Palestrante">Feminino</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label>Contacto:</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': f.telemovel.errors && f.telemovel.touched}"
          formControlName="telemovel" placeholder="912345678">
          <div *ngIf="f.telemovel.errors?.required" class="invalid-feedback">
            Telemóvel é obrigatório.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>E-mail:</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
          formControlName="email" placeholder="Email">
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            E-mail é obrigatório.
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            Endereço de E-mail Inválido.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-info mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Guardar Paciente
        </button>
      </div>
    </div>
  </form>
</div>
