<div class="card shadow-sm">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-4 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">Nome do Paciente</div>
            <div class="h7 text-bold pb-1"><b>E-mail: </b> <span>Alexandre Renato</span></div>
            <div class="h7 text-bold pb-1"><b>Contacto: </b> <span>123456789</span></div>
            <div class="h7 text-bold pb-1"><b>Data: </b> <span>04/03/2021</span></div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">14:30</div>
                  <div class="h6 text-muted">Inicio da Consulta</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">14:50</div>
                  <div class="h6 text-muted">Fim da Consulta</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe da Consulta</h3>
          </div>
        <div class="form-group col-sm-6">
          <label>Medico:</label>
          <input type="text" class="form-control" [disabled]
          [ngClass]="cssValidator(f.medicoNome)"
          formControlName="medicoNome">
        </div>
        <div class="form-group col-sm-6">
          <label>E-mail:</label>
          <input type="text" class="form-control" [disabled]
          [ngClass]="cssValidator(f.medicoEmail)"
          formControlName="medicoEmail" >
        </div>
      </div>
      <div class="form-row">
        <form-group class="col-12">
          <label>Relatório:</label>
          <textarea class="form-control" rows="12" formControlName="relatorio">Leve arranhao na perna direita, recomendado joalheiras no futebol</textarea>
        </form-group>
      </div>
    </div>
  </div>
</form>
</div>
