<div class="d-flex align-items-center vh-100">
  <div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
      <i class="fa fa-heartbeat mb-2 textColor"></i>
      <h1 class="h3 mb-3 font-weight-normal">Entrar com</h1>
      <label for="email" class="sr-only">E-mail</label>
      <input type="email" id="email" class="form-control" placeholder="E-mail" name="email" required
        [(ngModel)]="model.email">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password" name="password" required
        [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p class="mt-4 mb-2 text-muted">Insira as credenciais de acesso.</p>
    </form>
  </div>
</div>
