<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Registo de Médico</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<!--FORM -->
    <form [formGroup]="form" class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-group">
        <label>Nome Completo</label>
        <input type="text" class="form-control" placeholder="Insira o Nome Completo"
        [ngClass]="cssValidator(f.nome)"
        formControlName="nome">
        <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
          Nome é obrigatório.
        </div>
        <div *ngIf="f.nome.errors?.minlength"  class="invalid-feedback">
          Nome deve ter no minimo 4 caracteres.
        </div>
        <div *ngIf="f.nome.errors?.maxlength"  class="invalid-feedback">
          Nome deve ter no máximo 100 caracteres.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-8">
          <label for="">E-mail:</label>
          <input class="form-control" type="text" placeholder="Insira o E-mail"
          [ngClass]="cssValidator(f.email)"
          formControlName="email" >
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            E-mail é obrigatório.
          </div>
          <div *ngIf="f.email.errors?.email"  class="invalid-feedback">
            E-mail inválido.
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label for="">Nº Telemóvel:</label>
          <input class="form-control" type="text" placeholder="Insira o Nº Telemóvel"
          [ngClass]="cssValidator(f.telemovel)"
          formControlName="telemovel" >
          <div *ngIf="f.telemovel.errors?.required" class="invalid-feedback">
            Telemóvel é obrigatório.
          </div>
          <div *ngIf="f.telemovel.errors?.minlength"  class="invalid-feedback">
            Telemóvel deve ter no minimo 6 caracteres.
          </div>
          <div *ngIf="f.telemovel.errors?.maxlength"  class="invalid-feedback">
            Telemóvel deve ter no máximo 15 caracteres.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Especialização:</label>
        <input class="form-control" type="text" placeholder="Insira a sua Especialização "
        [ngClass]="cssValidator(f.especialidade)"
          formControlName="especialidade" >
          <div *ngIf="f.especialidade.errors?.required" class="invalid-feedback">
            Especialização é obrigatório.
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-9">
          <label for="">Endereço:</label>
          <input class="form-control" type="text" placeholder="Insira o seu Endereço"
          [ngClass]="cssValidator(f.endereco)"
          formControlName="endereco">
          <div *ngIf="f.endereco.errors?.required" class="invalid-feedback">
            Endereço é obrigatório.
          </div>
          <div *ngIf="f.endereco.errors?.minlength"  class="invalid-feedback">
            Endereço deve ter no minimo 4 caracteres.
          </div>
          <div *ngIf="f.endereco.errors?.maxlength"  class="invalid-feedback">
            Endereço deve ter no máximo 100 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="">Código Postal:</label>
          <input class="form-control" type="text" placeholder="0000-000"
          [ngClass]="cssValidator(f.codPostal)"
          formControlName="codPostal">
          <div *ngIf="f.codPostal.errors?.required" class="invalid-feedback">
            Código Postal é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Password:</label>
          <input class="form-control" type="password" placeholder="Digite uma Password"
          [ngClass]="cssValidator(f.password)"
          formControlName="password">
          <div *ngIf="f.password.errors?.required" class="invalid-feedback">
            Uma Password é obrigatória.
          </div>
          <div *ngIf="f.password.errors"  class="invalid-feedback">
            Password deve ter conter no minimo 8 caracteres, entre eles minúsculas, maiúsculas, números, e caracteres expecíais (Ex: &,%,$,#)
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Password:</label>
          <input class="form-control" type="password" placeholder="Confirme a Password"
          [ngClass]="cssValidator(f.confirmarPassword)"
          formControlName="confirmarPassword">
          <div *ngIf="f.confirmarPassword.errors?.required" class="invalid-feedback">
            Confirmar a Password é obrigatório.
          </div>
          <div *ngIf="f.confirmarPassword.errors?.mustMatch" class="invalid-feedback">
            As Password's não correspondem
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5" (click)="registarMedico()">
            Registar Médico
          </button>
        </div>
      </div>
    </form>

	</div>
</div>
